
/* menu */
.openclose{
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: block;
    font-size: 1.3rem;
    color: white;
}
.openclose i{
    padding-right: 1rem;
}

/* sidermenu */
#sidemenu{
    position: fixed;
    left:-200px;
    background-color: rgba(0, 0, 0, 1);
}

.icons{
    display: none;
}

.imgmusico{
    margin-top: 1rem;
}
.imgmusico img{ 
    height: 2rem;
    width: 4rem;
    margin-left: -0.7rem;
}

.imgmusico h2{
    font-size: 20px;
}
/* topmenu */
.profile{
    display: inline;
    position: absolute;
    top:0.5rem;
    right: 0.5rem;
}
.profile span{
    display: none;
}

.profile img{
    background: none;
}

/* songs */

.containertitle{
    font-size: 0.9rem;
}

.containertitle div{
    display: none;
}

.songs img {
    width: 80%;
    height: 122px;
}
.songs h2 {
    padding: 1rem 0rem 0rem 1rem;
    font-size: 1.4rem;
}

/* player */

.musicplayer{
    padding: 0.2rem 0.2rem 0rem 0.2rem;
}
.playertext{
    position: relative;
    top:-14px;
}

.buttons i{
    margin: 0rem 0.2rem 0.2rem 0.2rem;
    font-size: 1rem;
   
}

.div3{
    /* display: none; */
}



.buttons i{
    display: none;
}

#songtime{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;

}

#volume{
    display: none;
}

.div3 {
    margin-top: 11px;
    margin-right: 12px;
}

.playericon {
   position: absolute;
   top:14px;

}
